*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span, code),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
}

html,
body {
  overflow: auto;
}

/********************************************************************************
******************************** ADAPTIVE-IMG ***********************************
********************************************************************************/

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/********************************************************************************
*********************************** GENERAL ************************************
********************************************************************************/

@font-face {
  font-family: "Audiowide";
  font-weight: 400;
  src: url(../fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}

@font-face {
  font-family: "Fira Code";
  font-weight: 300;
  src: url(../fonts/Fira_Code/static/FiraCode-Light.ttf);
}

@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  src: url(../fonts/Fira_Code/static/FiraCode-Regular.ttf);
}

.row {
  flex-direction: row;
}

.toUpperCase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 16px 64px;
  max-width: 1400px;
}

/*taille police par défaut : 18px*/

h2,
h3 {
  font-family: "Audiowide";
  font-weight: 400;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-family: "Fira Sans";
  font-weight: 600;
}

p,
li {
  font-family: "Fira Sans";
  font-weight: 300;
}

code {
  font-family: "Fira Code";
  font-weight: 300;
}

:root {
    --black--rgb: 2, 23, 27;
    --black: rgb(var(--black--rgb));
    --dark-green: #074d50;
    --green--rgb: 29, 99, 92;
    --green: rgb(var(--green--rgb));
    --turquoise--rgb: 20, 231, 198;
    --turquoise: rgb(var(--turquoise--rgb));
    --taupe--rgb: 218, 237, 233;
    --taupe: rgb(var(--taupe--rgb));
}

*::-moz-selection {
  color: white;
  background-color: #f09;
}

*::selection {
  color: white;
  background-color: #f09;
}