@import "variable";
@import "mixin";

header {
  padding: 1rem 0 3rem 0;
  align-items: center;

  .titreEtAstronaute {
    padding: 2rem 0;
  }

  .fullMoonBackground {
    justify-content: center;
    text-align: center;
    height: 280px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/fullmoon.svg);
  }

  h1 {
    line-height: 1;

    span {
      &:first-child {
        font-family: "Audiowide";
        font-weight: 400;
        font-size: 13rem;
        letter-spacing: 1.5rem;
        color: white;
        text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
      }

      &:last-child {
        font-family: "Fira Sans";
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: 1.1rem;
        color: var(--turquoise);
      }
    }
  }
  p {
    max-width: 800px;
    text-align: center;
    @include p22px;

    a {
      text-decoration: none;
      color: var(--turquoise);
      &:hover {
        @include highlightTxt;
      }
    }
  }
}

// changes from test branch