main {
  flex-direction: row;
  max-width: 1400px;
  aside {
    position: sticky;
    top: 24px;
    left: 0;
    margin: 2rem;
    // flex: 1 25%;
    nav {
      padding: 2rem;
      min-width: 240px;
      border: 0.1rem solid var(--green);

      h4 {
        margin-bottom: 1rem;
        color: var(--taupe);
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        @include highlightTxt;
      }

      ul {
        margin-bottom: 2rem;

        li {
          line-height: 2;
          list-style: none;

          a {
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--turquoise);
            @include highlightTxt;
          }
        }
      }
    }
  }
}

label {
  gap: 0.8rem;
  align-items: center;

  span {
    font-family: "Fira Sans";
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--taupe);
  }
}

article {
  margin: 2rem;
  max-width: 1000px;
  // flex: 1 70%;
  h2,
  h3 {
    margin: 2rem 0;
    @include mainNeonTitle;
  }
  
  p {
    @include p22px;
    code {
      padding: 0 0.5rem;
      background: rgba(var(--taupe--rgb), 0.2);
      border-radius: $radius;
    }
  }

  section {
    margin: 6rem 0;
    .demonstrationDiv {
      background: var(--black);
      border-radius: $radius;
      align-items: center;

      .breadcrumb {
        margin: 2rem;
        @include neonDiv(2rem);
        @include hover;
        // @include after;

        &__list,
        &__item,
        &__link {
          position: relative;
          @include hover;
          // @include after;
        }

        &__list,
        &__item {
          @include neonDiv(2rem);
        }

        &__list {
          justify-content: space-around;
        }

        &__item {
          height: 30%;
          width: fit-content;
          justify-content: center;
        }

        &__link {
          min-width: 8rem;
          @include neonDiv(0.8rem);
        }
      }
      .button {
        margin: 2rem;
        width: 280px;
        gap: 2rem;
        justify-content: center;
        @include neonDiv(2rem);
        @include hover;

        &__prepend,
        &__body,
        &__append {
          @include neonDiv(0.8rem);
          @include hover;
        }
      }
      span {
        color: white;
        font-weight: 600;
        font-size: 1.6rem;
      }
    }

    pre {
      font-size: 1.6rem;
      background: rgb(207 225 221)
        linear-gradient(transparent 50%, rgba(0, 0, 0, 0.05) 0 50%);
      background-size: 3em 3em;
      background-position: 0 0.75em;
    }

    .note {
      color: #533f2d;
      background-image: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
      box-shadow: inset 0 1.5em 0 rgb(0 0 0 / 5%);

      .spanNote {
        font-weight: 600;
      }

      code {
        background: rgba(0, 0, 0, 0.1);
        border-radius: $radius;
      }
    }
  }
}
