@mixin mainNeonTitle {
  color: white;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}

@mixin highlightTxt {
  &:hover {
    color: var(--taupe);
    text-shadow: 0 0 0.5em var(--turquoise);
  }
}

@mixin p22px {
  margin: 0.5rem;
  font-size: 2.2rem;
  line-height: 1.75;
  color: var(--taupe);
}

@mixin neonDiv($padding:0) {
  border: 0.2rem dashed var(--green);
  border-radius: $radius;
  padding: $padding;
}

@mixin after {
  &:after {
    content: attr(class);
    color: var(--turquoise);
    position: absolute;
  }
}

@mixin hover {
  &:hover {
    border-style: solid;
    border-color: var(--turquoise);
    box-shadow: 0 0 0.25em var(--turquoise),
      inset 0 0 0.25em var(--turquoise);
  }
}