@charset "UTF-8";
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* main {
} */
/* h1 {
} */
a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}
button {
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
} */
input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
} */
table {
  text-indent: 0;
  border-color: inherit;
}

/* details {
  display: block;
} */
dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/* summary {
  display: list-item;
} */
canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span, code),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
}

html,
body {
  overflow: auto;
}

/********************************************************************************
******************************** ADAPTIVE-IMG ***********************************
********************************************************************************/
*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/********************************************************************************
*********************************** GENERAL ************************************
********************************************************************************/
@font-face {
  font-family: "Audiowide";
  font-weight: 400;
  src: url(../fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 600;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}
@font-face {
  font-family: "Fira Code";
  font-weight: 300;
  src: url(../fonts/Fira_Code/static/FiraCode-Light.ttf);
}
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  src: url(../fonts/Fira_Code/static/FiraCode-Regular.ttf);
}
.row {
  flex-direction: row;
}

.toUpperCase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 16px 64px;
  max-width: 1400px;
}

/*taille police par défaut : 18px*/
h2,
h3 {
  font-family: "Audiowide";
  font-weight: 400;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-family: "Fira Sans";
  font-weight: 600;
}

p,
li {
  font-family: "Fira Sans";
  font-weight: 300;
}

code {
  font-family: "Fira Code";
  font-weight: 300;
}

:root {
  --black--rgb: 2, 23, 27;
  --black: rgb(var(--black--rgb));
  --dark-green: #074d50;
  --green--rgb: 29, 99, 92;
  --green: rgb(var(--green--rgb));
  --turquoise--rgb: 20, 231, 198;
  --turquoise: rgb(var(--turquoise--rgb));
  --taupe--rgb: 218, 237, 233;
  --taupe: rgb(var(--taupe--rgb));
}

*::-moz-selection {
  color: white;
  background-color: #f09;
}

*::selection {
  color: white;
  background-color: #f09;
}

header {
  padding: 1rem 0 3rem 0;
  align-items: center;
}
header .titreEtAstronaute {
  padding: 2rem 0;
}
header .fullMoonBackground {
  justify-content: center;
  text-align: center;
  height: 280px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/fullmoon.svg);
}
header h1 {
  line-height: 1;
}
header h1 span:first-child {
  font-family: "Audiowide";
  font-weight: 400;
  font-size: 13rem;
  letter-spacing: 1.5rem;
  color: white;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
header h1 span:last-child {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 1.1rem;
  color: var(--turquoise);
}
header p {
  max-width: 800px;
  text-align: center;
  margin: 0.5rem;
  font-size: 2.2rem;
  line-height: 1.75;
  color: var(--taupe);
}
header p a {
  text-decoration: none;
  color: var(--turquoise);
}
header p a:hover:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}

main {
  flex-direction: row;
  max-width: 1400px;
}
main aside {
  position: sticky;
  top: 24px;
  left: 0;
  margin: 2rem;
}
main aside nav {
  padding: 2rem;
  min-width: 240px;
  border: 0.1rem solid var(--green);
}
main aside nav h4 {
  margin-bottom: 1rem;
  color: var(--taupe);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
main aside nav h4:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}
main aside nav ul {
  margin-bottom: 2rem;
}
main aside nav ul li {
  line-height: 2;
  list-style: none;
}
main aside nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--turquoise);
}
main aside nav ul li a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}

label {
  gap: 0.8rem;
  align-items: center;
}
label span {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--taupe);
}

article {
  margin: 2rem;
  max-width: 1000px;
}
article h2,
article h3 {
  margin: 2rem 0;
  color: white;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
article p {
  margin: 0.5rem;
  font-size: 2.2rem;
  line-height: 1.75;
  color: var(--taupe);
}
article p code {
  padding: 0 0.5rem;
  background: rgba(var(--taupe--rgb), 0.2);
  border-radius: 0.3rem;
}
article section {
  margin: 6rem 0;
}
article section .demonstrationDiv {
  background: var(--black);
  border-radius: 0.3rem;
  align-items: center;
}
article section .demonstrationDiv .breadcrumb {
  margin: 2rem;
  border: 0.2rem dashed var(--green);
  border-radius: 0.3rem;
  padding: 2rem;
}
article section .demonstrationDiv .breadcrumb:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
article section .demonstrationDiv .breadcrumb__list, article section .demonstrationDiv .breadcrumb__item, article section .demonstrationDiv .breadcrumb__link {
  position: relative;
}
article section .demonstrationDiv .breadcrumb__list:hover, article section .demonstrationDiv .breadcrumb__item:hover, article section .demonstrationDiv .breadcrumb__link:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
article section .demonstrationDiv .breadcrumb__list, article section .demonstrationDiv .breadcrumb__item {
  border: 0.2rem dashed var(--green);
  border-radius: 0.3rem;
  padding: 2rem;
}
article section .demonstrationDiv .breadcrumb__list {
  justify-content: space-around;
}
article section .demonstrationDiv .breadcrumb__item {
  height: 30%;
  width: fit-content;
  justify-content: center;
}
article section .demonstrationDiv .breadcrumb__link {
  min-width: 8rem;
  border: 0.2rem dashed var(--green);
  border-radius: 0.3rem;
  padding: 0.8rem;
}
article section .demonstrationDiv .button {
  margin: 2rem;
  width: 280px;
  gap: 2rem;
  justify-content: center;
  border: 0.2rem dashed var(--green);
  border-radius: 0.3rem;
  padding: 2rem;
}
article section .demonstrationDiv .button:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
article section .demonstrationDiv .button__prepend, article section .demonstrationDiv .button__body, article section .demonstrationDiv .button__append {
  border: 0.2rem dashed var(--green);
  border-radius: 0.3rem;
  padding: 0.8rem;
}
article section .demonstrationDiv .button__prepend:hover, article section .demonstrationDiv .button__body:hover, article section .demonstrationDiv .button__append:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
article section .demonstrationDiv span {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
article section pre {
  font-size: 1.6rem;
  background: #cfe1dd linear-gradient(transparent 50%, rgba(0, 0, 0, 0.05) 0 50%);
  background-size: 3em 3em;
  background-position: 0 0.75em;
}
article section .note {
  color: #533f2d;
  background-image: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
  box-shadow: inset 0 1.5em 0 rgba(0, 0, 0, 0.05);
}
article section .note .spanNote {
  font-weight: 600;
}
article section .note code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
